.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #35a5da;
  height: 100px;
  display: flex;
  /* flex-direction: column; */
  align-items: center;
  padding-left: 50px;
  /* justify-content: center; */
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.main-container {
  background-color: black;
  height: calc(100vh - 100px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card {
  height: 70%;
  width: 70%;
  background-color: white;
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

.id{
  display: flex;
  align-self: flex-end;
}

.name{
  font-size: 30px;
  text-decoration: underline #35a5da;
}

.info {
  font-weight: bold;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}